* {
  padding: 0;
  margin: 0;
  height: 100%;
}

.App {
  width: 100wv;
  height: 100wh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 500px;
  height: 500px;
  background-color: aquamarine;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 33%;
}

.square {
  display: grid;
  place-items: center;
  flex: 33%;
  height: 100%;
  border: 1px solid black;
  cursor: pointer;
  font-size: 30px;
  color: black;
}

.square:active {
  background-color: #64f4c4;
}
